# Google sheets

SHEET_ID = 1nrNNKOBVo1zuVrmBQUHgNVzyc3Dxx9pmH7okH008CWU #Google Sheet ID
GOOGLE_SERVICE_ACCOUNT_JSON = credentials.json #Path to Google credentials
OUTPUT_FILE = channels.txt #Output file for ggSheetsReader.py
